# Created by .ignore support plugin (hsz.mobi)
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
build/
.kotlintest/
logs/

**/.gradle/
!**/gradle/wrapper/gradle-wrapper.jar
**/build/
**/.kotlintest/
**/logs/


### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

**/.idea/
**/*.iws
**/*.iml
**/*.ipr
**/out/

